In [45]:
import pandas as pd

In [46]:
#Импортируем датасет:

melb_data_ps = pd.read_csv('data/melb_data_ps.csv', sep=',')
display(melb_data_ps)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.79960,144.99840,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.80790,144.99340,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.80930,144.99440,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.79690,144.99690,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2,120.0,142.0,2014,Yarra,-37.80720,144.99410,Northern Metropolitan,4019,"-37.8072, 144.9941"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,2,652.0,126.0,1981,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392,"-37.90562, 145.16761"
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2,333.0,133.0,1995,NaN,-37.85927,144.87904,Western Metropolitan,6380,"-37.85927, 144.87904"
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,4,436.0,126.0,1997,NaN,-37.85274,144.88738,Western Metropolitan,6380,"-37.85274, 144.88738"
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,5,866.0,157.0,1920,NaN,-37.85908,144.89299,Western Metropolitan,6380,"-37.85908, 144.89299"
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1,362.0,112.0,1920,NaN,-37.81188,144.88449,Western Metropolitan,6543,"-37.81188, 144.88449"

In [47]:
#Создадим копию данных для тестировочных преобразований

melb_data_test = melb_data_ps.copy()
display(melb_data_test.head())

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

In [48]:
#Удаление Index и Coordinates
melb_data_test = melb_data_ps.copy()
melb_data_test.drop(['index', 'Coordinates'], axis=1, inplace=True)
display(melb_data_test.head())

#Общее количество комнат в домах
total_rooms = melb_data_test['Rooms'] + melb_data_test['Bathroom'] + melb_data_test['Bedroom']
display('Общее количество комнат:', total_rooms)
#Средняя площадь комнат в доме
melb_data_test['Mean Rooms Square'] = melb_data_test['BuildingArea'] / total_rooms
display('Средняя площадь комнат в доме:', melb_data_test['Mean Rooms Square'])
#Коэффициент соотношения площадей здания и земли в целом
diff_area = melb_data_test['BuildingArea'] - melb_data_test['Landsize']
sum_area = melb_data_test['BuildingArea'] + melb_data_test['Landsize']
melb_data_test['AreaRatio'] = diff_area/sum_area
display('Коэффициент соотношения площадей здания и земли в целом:', melb_data_test['AreaRatio'])

#Задания 2.1-2.4
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
countries_df2 = countries_df.copy()
countries_df2['density'] = (countries_df2['population'] * 1000000) / countries_df2['square']
print('Средняя плотность насления данных стран:', round(countries_df2['density'].mean(), 2))

#Разбираемся с датой-временем
melb_data_test['Date'] = pd.to_datetime(melb_data_test['Date'], dayfirst=True)
display(melb_data_test['Date'])
years_sold = melb_data_test['Date'].dt.year
print(years_sold)
print('Min year sold:', years_sold.min())
print('Max year sold:', years_sold.max())
print('Mode year sold:', years_sold.mode()[0])
melb_data_test['MonthSale'] = melb_data_test['Date'].dt.month
melb_data_test['MonthSale'].value_counts(normalize=True)*100
delta_days = melb_data_test['Date'] - pd.to_datetime('2016-01-01') 
display(delta_days.dt.days)
melb_data_test['AgeBuilding'] = melb_data_test['Date'].dt.year - melb_data_test['YearBuilt']
display(melb_data_test['AgeBuilding'])
melb_data_test = melb_data_test.drop('YearBuilt', axis=1)
melb_data_test['WeekdaySale'] = melb_data_test['Date'].dt.day_name()
display(melb_data_test)
weekend_count = len(melb_data_test[melb_data_test['WeekdaySale'] == 'Saturday']) + len(melb_data_test[melb_data_test['WeekdaySale'] == 'Sunday'])
print(weekend_count)

# Задания 3.4-3.5
ufo_data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv', sep=',')
ufo_data_upd = ufo_data.copy()
ufo_data_upd['Time'] = pd.to_datetime(ufo_data_upd['Time'])
ufo_data_upd['Date'] = ufo_data_upd['Time'].dt.date
display(ufo_data_upd)
display(ufo_data_upd['Time'].dt.year.value_counts()) #Получаем ответ "1999"
print('Средний интервал сообщений в штате NV:', round(ufo_data_upd[(ufo_data_upd['State'] == 'NV')]['Date'].diff().dt.days.mean()), 'дней')

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,1,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,2,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,2,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,1,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019

'Общее количество комнат:'

0         5
1         5
2         8
3         8
4         8
         ..
13575    10
13576     8
13577     8
13578     9
13579     9
Length: 13580, dtype: int64

'Средняя площадь комнат в доме:'

0        25.200000
1        15.800000
2        18.750000
3        15.750000
4        17.750000
           ...
13575    12.600000
13576    16.625000
13577    15.750000
13578    17.444444
13579    12.444444
Name: Mean Rooms Square, Length: 13580, dtype: float64

'Коэффициент соотношения площадей здания и земли в целом:'

0       -0.231707
1       -0.327660
2        0.056338
3        0.145455
4        0.083969
           ...
13575   -0.676093
13576   -0.429185
13577   -0.551601
13578   -0.693060
13579   -0.527426
Name: AreaRatio, Length: 13580, dtype: float64

Средняя плотность насления данных стран: 84.93

0       2016-12-03
1       2016-02-04
2       2017-03-04
3       2017-03-04
4       2016-06-04
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

0        2016
1        2016
2        2017
3        2017
4        2016
         ...
13575    2017
13576    2017
13577    2017
13578    2017
13579    2017
Name: Date, Length: 13580, dtype: int32
Min year sold: 2016
Max year sold: 2017
Mode year sold: 2017

0        337
1         34
2        428
3        428
4        155
        ...
13575    603
13576    603
13577    603
13578    603
13579    603
Name: Date, Length: 13580, dtype: int64

0         46
1        116
2        117
3         47
4          2
        ...
13575     36
13576     22
13577     20
13578     97
13579     97
Name: AgeBuilding, Length: 13580, dtype: int64

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Mean Rooms Square,AreaRatio,MonthSale,AgeBuilding,WeekdaySale
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067,...,Yarra,-37.79960,144.99840,Northern Metropolitan,4019,25.200000,-0.231707,12,46,Saturday
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067,...,Yarra,-37.80790,144.99340,Northern Metropolitan,4019,15.800000,-0.327660,2,116,Thursday
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,3067,...,Yarra,-37.80930,144.99440,Northern Metropolitan,4019,18.750000,0.056338,3,117,Saturday
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,2017-03-04,2.5,3067,...,Yarra,-37.79690,144.99690,Northern Metropolitan,4019,15.750000,0.145455,3,47,Saturday
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,3067,...,Yarra,-37.80720,144.99410,Northern Metropolitan,4019,17.750000,0.083969,6,2,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,2017-08-26,16.7,3150,...,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392,12.600000,-0.676093,8,36,Saturday
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,2017-08-26,6.8,3016,...,NaN,-37.85927,144.87904,Western Metropolitan,6380,16.625000,-0.429185,8,22,Saturday
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,2017-08-26,6.8,3016,...,NaN,-37.85274,144.88738,Western Metropolitan,6380,15.750000,-0.551601,8,20,Saturday
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,2017-08-26,6.8,3016,...,NaN,-37.85908,144.89299,Western Metropolitan,6380,17.444444,-0.693060,8,97,Saturday
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,2017-08-26,6.3,3013,...,NaN,-37.81188,144.88449,Western Metropolitan,6543,12.444444,-0.527426,8,97,Saturday

12822

,City,Colors Reported,Shape Reported,State,Time,Date
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00,1930-06-01
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00,1930-06-30
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00,1931-02-15
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00,1931-06-01
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00,1933-04-18
...,...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,2000-12-31 23:00:00,2000-12-31
18237,Spirit Lake,NaN,DISK,IA,2000-12-31 23:00:00,2000-12-31
18238,Eagle River,NaN,NaN,WI,2000-12-31 23:45:00,2000-12-31
18239,Eagle River,RED,LIGHT,WI,2000-12-31 23:45:00,2000-12-31
18240,Ybor,NaN,OVAL,FL,2000-12-31 23:59:00,2000-12-31

Time
1999    2774
2000    2635
1998    1743
1995    1344
1997    1237
        ...
1936       2
1930       2
1935       1
1934       1
1933       1
Name: count, Length: 68, dtype: int64

Средний интервал сообщений в штате NV: 69 дней

In [49]:
# Создание и преобразование столбцов с помощью функций

print('Кол-во уникальных адресов:', melb_data_test['Address'].nunique())
print(melb_data_test['Address'].loc[177])
print(melb_data_test['Address'].loc[1812])
print(melb_data_test['Address'].loc[9001])
# На вход данной функции поступает строка с адресом.
def get_street_type(address):
# Создаём список географических пометок exclude_list.
    exclude_list = ['N', 'S', 'W', 'E']
# Метод split() разбивает строку на слова по пробелу.
# В результате получаем список слов в строке и заносим его в переменную address_list.
    address_list = address.split(' ')
# Обрезаем список, оставляя в нём только последний элемент,
# потенциальный подтип улицы, и заносим в переменную street_type.
    street_type = address_list[-1]
# Делаем проверку на то, что полученный подтип является географической пометкой.
# Для этого проверяем его на наличие в списке exclude_list.
    if street_type in exclude_list:
# Если переменная street_type является географической пометкой,
# переопределяем её на второй элемент с конца списка address_list.
        street_type = address_list[-2]
# Возвращаем переменную street_type, в которой хранится подтип улицы.
    return street_type

street_types = melb_data_test['Address'].apply(get_street_type)
display(street_types)
print('Уникальных типов улиц:', street_types.nunique())

# Функция избавления от грязных или дублирующихся данных
street_types = street_types.replace(['Avenue', 'Boulevard', 'Parade'], ['Av', 'Bvd', 'Pde'])

print('Уникальных типов улиц:', street_types.nunique())
display(street_types.value_counts())
popular_stypes = street_types.value_counts().nlargest(10).index
print(popular_stypes)
melb_data_test['StreetType'] = street_types.apply(lambda x: x if x in popular_stypes else 'other')
display(melb_data_test['StreetType'])
print('Кол-во уникальных типов улиц теперь:', melb_data_test['StreetType'].nunique())
melb_data_test = melb_data_test.drop('Address', axis=1)
print('Количество домов на типе улицы:', melb_data_test['StreetType'].value_counts())
display(melb_data_test)

Кол-во уникальных адресов: 13378
2/119 Railway St N
9/400 Dandenong Rd
172 Danks St

0        St
1        St
2        St
3        La
4        St
         ..
13575    Cr
13576    Dr
13577    St
13578    St
13579    St
Name: Address, Length: 13580, dtype: object

Уникальных типов улиц: 56
Уникальных типов улиц: 53

Address
St           8012
Rd           2825
Ct            612
Dr            447
Av            361
Gr            311
Pde           226
Pl            169
Cr            152
Cl            100
La             67
Bvd            66
Tce            47
Wy             40
Cct            25
Hwy            24
Sq             11
Crescent        9
Cir             7
Strand          7
Esplanade       6
Grove           5
Mews            4
Grn             4
Fairway         4
Gdns            4
Righi           3
Crossway        3
Esp             2
Victoria        2
Ridge           2
Crofts          2
Grand           1
Summit          1
Hts             1
Athol           1
Highway         1
Outlook         1
Woodland        1
Ave             1
Gra             1
Terrace         1
Eyrie           1
Dell            1
East            1
Loop            1
Nook            1
Glade           1
Qy              1
Cove            1
Res             1
Grange          1
Corso           1
Name: count, dtype: int64

Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object', name='Address')

0           St
1           St
2           St
3        other
4           St
         ...
13575       Cr
13576       Dr
13577       St
13578       St
13579       St
Name: StreetType, Length: 13580, dtype: object

Кол-во уникальных типов улиц теперь: 11
Количество домов на типе улицы: StreetType
St       8012
Rd       2825
Ct        612
Dr        447
other     365
Av        361
Gr        311
Pde       226
Pl        169
Cr        152
Cl        100
Name: count, dtype: int64

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Lattitude,Longtitude,Regionname,Propertycount,Mean Rooms Square,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType
0,Abbotsford,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067,2,...,-37.79960,144.99840,Northern Metropolitan,4019,25.200000,-0.231707,12,46,Saturday,St
1,Abbotsford,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067,2,...,-37.80790,144.99340,Northern Metropolitan,4019,15.800000,-0.327660,2,116,Thursday,St
2,Abbotsford,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,3067,3,...,-37.80930,144.99440,Northern Metropolitan,4019,18.750000,0.056338,3,117,Saturday,St
3,Abbotsford,3,h,850000.0,PI,Biggin,2017-03-04,2.5,3067,3,...,-37.79690,144.99690,Northern Metropolitan,4019,15.750000,0.145455,3,47,Saturday,other
4,Abbotsford,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,3067,3,...,-37.80720,144.99410,Northern Metropolitan,4019,17.750000,0.083969,6,2,Saturday,St
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,4,h,1245000.0,S,Barry,2017-08-26,16.7,3150,4,...,-37.90562,145.16761,South-Eastern Metropolitan,7392,12.600000,-0.676093,8,36,Saturday,Cr
13576,Williamstown,3,h,1031000.0,SP,Williams,2017-08-26,6.8,3016,3,...,-37.85927,144.87904,Western Metropolitan,6380,16.625000,-0.429185,8,22,Saturday,Dr
13577,Williamstown,3,h,1170000.0,S,Raine,2017-08-26,6.8,3016,3,...,-37.85274,144.88738,Western Metropolitan,6380,15.750000,-0.551601,8,20,Saturday,St
13578,Williamstown,4,h,2500000.0,PI,Sweeney,2017-08-26,6.8,3016,4,...,-37.85908,144.89299,Western Metropolitan,6380,17.444444,-0.693060,8,97,Saturday,St
13579,Yarraville,4,h,1285000.0,SP,Village,2017-08-26,6.3,3013,4,...,-37.81188,144.88449,Western Metropolitan,6543,12.444444,-0.527426,8,97,Saturday,St

In [65]:
# Задания 4.2-4.3

def get_weekend(weekday):
    if weekday == 'Saturday' or weekday == 'Sunday':
        return 1
    else:
        return 0

melb_data_test['Weekend'] = melb_data_test['WeekdaySale'].apply(get_weekend)
print('Средняя цена проданного в выходные объекта недвижимости:',
        round(melb_data_test[(melb_data_test['Weekend'] == 1)]['Price'].mean()))

sellers = melb_data_test['SellerG']
display(sellers)
popular_sellers = sellers.value_counts().nlargest(49).index
melb_data_test['SellerG'] = sellers.apply(lambda x: x if x in popular_sellers else 'other')
display(melb_data_test['SellerG'].value_counts())
print('Разница минимальной цены проданных объектов недвижимости компании Nelson и мелких компаний, раз:',
      round(melb_data_test[(melb_data_test['SellerG'] == 'Nelson')]['Price'].min() / melb_data_test[(melb_data_test['SellerG'] == 'other')]['Price'].min(), 1))
display(melb_data_test)

Средняя цена проданного в выходные объекта недвижимости: 1081199

0          Biggin
1          Biggin
2          Biggin
3          Biggin
4          Nelson
           ...
13575       Barry
13576    Williams
13577       Raine
13578     Sweeney
13579     Village
Name: SellerG, Length: 13580, dtype: object

SellerG
Nelson           1565
Jellis           1316
other            1234
hockingstuart    1167
Barry            1011
Ray               701
Marshall          659
Buxton            632
Biggin            393
Brad              342
Woodards          301
Fletchers         301
Jas               243
Greg              239
McGrath           222
Sweeney           216
Noel              205
Miles             196
RT                184
Gary              170
Harcourts         168
Hodges            157
YPA               154
Stockdale         150
Village           125
Kay               119
Raine             116
Williams          111
Love              109
Douglas            97
Chisholm           77
RW                 70
Rendina            66
HAR                62
O'Brien            61
C21                57
Collins            56
Cayzer             52
Purplebricks       51
Eview              51
Philip             48
Buckingham         46
Bells              44
Thomson            42
Alexkarbon         40
Nick               40
Burnham            39
McDonald           39
Moonee             36
Name: count, dtype: int64

Разница минимальной цены проданных объектов недвижимости компании Nelson и мелких компаний, раз: 1.3

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Longtitude,Regionname,Propertycount,Mean Rooms Square,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
0,Abbotsford,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067,2,...,144.99840,Northern Metropolitan,4019,25.200000,-0.231707,12,46,Saturday,St,1
1,Abbotsford,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067,2,...,144.99340,Northern Metropolitan,4019,15.800000,-0.327660,2,116,Thursday,St,0
2,Abbotsford,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,3067,3,...,144.99440,Northern Metropolitan,4019,18.750000,0.056338,3,117,Saturday,St,1
3,Abbotsford,3,h,850000.0,PI,Biggin,2017-03-04,2.5,3067,3,...,144.99690,Northern Metropolitan,4019,15.750000,0.145455,3,47,Saturday,other,1
4,Abbotsford,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,3067,3,...,144.99410,Northern Metropolitan,4019,17.750000,0.083969,6,2,Saturday,St,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,4,h,1245000.0,S,Barry,2017-08-26,16.7,3150,4,...,145.16761,South-Eastern Metropolitan,7392,12.600000,-0.676093,8,36,Saturday,Cr,1
13576,Williamstown,3,h,1031000.0,SP,Williams,2017-08-26,6.8,3016,3,...,144.87904,Western Metropolitan,6380,16.625000,-0.429185,8,22,Saturday,Dr,1
13577,Williamstown,3,h,1170000.0,S,Raine,2017-08-26,6.8,3016,3,...,144.88738,Western Metropolitan,6380,15.750000,-0.551601,8,20,Saturday,St,1
13578,Williamstown,4,h,2500000.0,PI,Sweeney,2017-08-26,6.8,3016,4,...,144.89299,Western Metropolitan,6380,17.444444,-0.693060,8,97,Saturday,St,1
13579,Yarraville,4,h,1285000.0,SP,Village,2017-08-26,6.3,3013,4,...,144.88449,Western Metropolitan,6543,12.444444,-0.527426,8,97,Saturday,St,1