In [26]:
import pandas as pd
import numpy as np
from sklearn import preprocessing as pp
import category_encoders as ce
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

In [27]:
data_1 = pd.DataFrame({'day':[1,2,3,4,5], 'population':[30,40,35,57,15]})
display(data_1)

normalizer = pp.RobustScaler()
df_temp = normalizer.fit_transform(pd.DataFrame(data_1['population']))
df_temp = pd.DataFrame(df_temp, columns=['population'])
print(df_temp)

   day  population
0    1          30
1    2          40
2    3          35
3    4          57
4    5          15

   population
0        -0.5
1         0.5
2         0.0
3         2.2
4        -2.0

In [28]:
new_site = pd.read_csv('data/new-site.csv', sep='\t')
display(new_site)

display(new_site[new_site['site']==0]['dwell-time'].sum())
display(new_site[new_site['site']==1]['dwell-time'].sum())

display(round(new_site[new_site['site']==0]['dwell-time'].mean()))
display(round(new_site[new_site['site']==1]['dwell-time'].mean()))

     site  dwell-time
0       0           2
1       1          48
2       0          15
3       1          16
4       0          38
..    ...         ...
295     0          22
296     0           7
297     1         144
298     0          89
299     0         138

[300 rows x 2 columns]

16898

10032

91

88

In [29]:
group_1_time = new_site[new_site['site']==0]['dwell-time']
group_2_time = new_site[new_site['site']==1]['dwell-time']

# Статистический тест Шапиро-Уилка
# задаём уровень значимости
alpha = 0.05 

# проводим тест Шапиро — Уилка
# Первая переменная - данные о статистике теста. Она тут не рассматривается
_, p = stats.shapiro(group_1_time)

print('p-value = %.3f' % (p))

# интерпретируем результат
if p <= alpha:
    print('Распределение не нормальное')
else:
    print('Распределение нормальное')
    
    # Статистический тест Шапиро-Уилка
# задаём уровень значимости
alpha = 0.05 

# проводим тест Шапиро — Уилка
# Первая переменная - данные о статистике теста. Она тут не рассматривается
_, p = stats.shapiro(group_2_time)

print('p-value = %.3f' % (p))

# интерпретируем результат
if p <= alpha:
    print('Распределение не нормальное')
else:
    print('Распределение нормальное')
    
group_1_time

p-value = 0.000
Распределение не нормальное
p-value = 0.000
Распределение не нормальное

0        2
2       15
4       38
6      571
8      233
      ...
294     39
295     22
296      7
298     89
299    138
Name: dwell-time, Length: 186, dtype: int64

In [30]:
# U-критерий Манна-Уитни

alpha = 0.05

# Проводим тест
_, p = stats.mannwhitneyu(group_1_time, group_2_time)

print(f'p-value = {round(p, 3)}')

# Интрепретируем результат
if p <= alpha:
    print(f'p-значение меньше, чем заданный уровень значимости {alpha}. Отвергаем нулевую гипотезу.')
else:
    print(f'p-значение больше, чем заданный уровень значимости {alpha}. У нас нет оснований отвергнуть нулевую гипотезу.')

p-value = 0.896
p-значение больше, чем заданный уровень значимости 0.05. У нас нет оснований отвергнуть нулевую гипотезу.